
/* style.css */

/* 1    */ html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
/* 2    */ 	background: transparent;
/* 3    */ 	border: 0;
/* 4    */ 	font-size: 100%;
/* 5    */ 	margin: 0;
/* 6    */ 	outline: 0;
/* 7    */ 	padding: 0;
/* 8    */ 	vertical-align: baseline
/* 9    */ }
/* 10   */ nav ul {
/* 11   */ 	list-style: none
/* 12   */ }
/* 13   */ blockquote, q {
/* 14   */ 	quotes: none
/* 15   */ }
/* 16   */ blockquote:before, blockquote:after, q:before, q:after {
/* 17   */ 	content: none
/* 18   */ }
/* 19   */ a {
/* 20   */ 	background: transparent;
/* 21   */ 	font-size: 100%;
/* 22   */ 	margin: 0;
/* 23   */ 	padding: 0;
/* 24   */ 	vertical-align: baseline
/* 25   */ }
/* 26   */ h4 a {
/* 27   */ 	text-decoration: none
/* 28   */ }
/* 29   */ ins {
/* 30   */ 	background-color: #ff9;
/* 31   */ 	color: #000;
/* 32   */ 	text-decoration: none
/* 33   */ }
/* 34   */ mark {
/* 35   */ 	background-color: #ff9;
/* 36   */ 	color: #000;
/* 37   */ 	font-style: italic;
/* 38   */ 	font-weight: bold
/* 39   */ }
/* 40   */ del {
/* 41   */ 	text-decoration: line-through
/* 42   */ }
/* 43   */ abbr[title], dfn[title] {
/* 44   */ 	border-bottom: 1px dotted #000;
/* 45   */ 	cursor: help
/* 46   */ }
/* 47   */ table {
/* 48   */ 	border-collapse: collapse;
/* 49   */ 	border-spacing: 0;
/* 50   */ 	font: 100%;

/* style.css */

/* 51   */ 	font-size: inherit
/* 52   */ }
/* 53   */ hr {
/* 54   */ 	border: 0;
/* 55   */ 	border-top: 1px solid #ccc;
/* 56   */ 	display: block;
/* 57   */ 	height: 1px;
/* 58   */ 	margin: 1em 0;
/* 59   */ 	padding: 0
/* 60   */ }
/* 61   */ input, select {
/* 62   */ 	vertical-align: middle
/* 63   */ }
/* 64   */ body {
/* 65   */ 	background: #000;
/* 66   */ 	font-family: 'Droid Sans', arial, sans-serif;
/* 67   */ 	font-size: 13px;
/* 68   */ 	line-height: 1.3
/* 69   */ }
/* 70   */ select, input, textarea {
/* 71   */ 	font: 99% sans-serif
/* 72   */ }
/* 73   */ pre, code, kbd, samp {
/* 74   */ 	font-family: monospace, sans-serif
/* 75   */ }
/* 76   */ body, select, input, textarea {
/* 77   */ 	color: #444
/* 78   */ }
/* 79   */ h1, h2, h3, h4, h5, h6 {
/* 80   */ 	font-weight: bold;
/* 81   */ 	text-rendering: optimizeLegibility
/* 82   */ }
/* 83   */ html {
/* 84   */ 	-webkit-font-smoothing: antialiased;
/* 85   */ 	overflow-y: scroll
/* 86   */ }
/* 87   */ a:hover, a:active {
/* 88   */ 	outline: none
/* 89   */ }
/* 90   */ a, a:active, a:visited {
/* 91   */ 	color: #606060
/* 92   */ }
/* 93   */ a:hover {
/* 94   */ 	color: #6f9d0b
/* 95   */ }
/* 96   */ ul {
/* 97   */ 	margin-left: 30px
/* 98   */ }
/* 99   */ ol {
/* 100  */ 	list-style-type: decimal;

/* style.css */

/* 101  */ 	margin-left: 30px
/* 102  */ }
/* 103  */ small {
/* 104  */ 	font-size: 85%
/* 105  */ }
/* 106  */ strong, th {
/* 107  */ 	font-weight: bold
/* 108  */ }
/* 109  */ td, td img {
/* 110  */ 	vertical-align: top
/* 111  */ }
/* 112  */ sub {
/* 113  */ 	font-size: smaller;
/* 114  */ 	vertical-align: sub
/* 115  */ }
/* 116  */ sup {
/* 117  */ 	font-size: smaller;
/* 118  */ 	vertical-align: super
/* 119  */ }
/* 120  */ pre {
/* 121  */ 	padding: 15px;
/* 122  */ 	white-space: pre-line;
/* 123  */ 	word-wrap: break-word
/* 124  */ }
/* 125  */ input[type="checkbox"] {
/* 126  */ 	vertical-align: baseline
/* 127  */ }
/* 128  */ label, input[type=button], input[type=submit], button {
/* 129  */ 	cursor: pointer
/* 130  */ }
/* 131  */ a:link {
/* 132  */ 	-webkit-tap-highlight-color: #FF5E99
/* 133  */ }
/* 134  */ button {
/* 135  */ 	overflow: visible;
/* 136  */ 	width: auto
/* 137  */ }
/* 138  */ .ie7 img {
/* 139  */ 	-ms-interpolation-mode: bicubic
/* 140  */ }
/* 141  */ .ir {
/* 142  */ 	background-repeat: no-repeat;
/* 143  */ 	display: block;
/* 144  */ 	overflow: hidden;
/* 145  */ 	text-indent: -999em
/* 146  */ }
/* 147  */ .hidden {
/* 148  */ 	display: none;
/* 149  */ 	visibility: hidden
/* 150  */ }

/* style.css */

/* 151  */ .visuallyhidden {
/* 152  */ 	clip: rect(1px,1px,1px,1px);
/* 153  */ 	position: absolute!important
/* 154  */ }
/* 155  */ .invisible {
/* 156  */ 	visibility: hidden
/* 157  */ }
/* 158  */ .clearfix:after {
/* 159  */ 	clear: both;
/* 160  */ 	content: ".";
/* 161  */ 	display: block;
/* 162  */ 	height: 0;
/* 163  */ 	visibility: hidden
/* 164  */ }
/* 165  */ * html .clearfix {
/* 166  */ 	height: 1%
/* 167  */ }
/* 168  */ #h2-dgtl {
/* 169  */ 	color: #ecff81;
/* 170  */ 	font-size: 4em;
/* 171  */ 	font-weight: normal;
/* 172  */ 	letter-spacing: -.09em;
/* 173  */ 	text-shadow: 0 1px 0 #6c9910
/* 174  */ }
/* 175  */ .inside #h2-littl-abt {
/* 176  */ 	font-size: 3.5em;
/* 177  */ 	letter-spacing: -.09em;
/* 178  */ 	margin: 0 0 .4em
/* 179  */ }
/* 180  */ #s-main-cntnt h2 {
/* 181  */ 	color: #565656;
/* 182  */ 	font-family: Vollkorn, Georgia, serif;
/* 183  */ 	font-size: 1.9em;
/* 184  */ 	font-weight: normal;
/* 185  */ 	letter-spacing: -.07em;
/* 186  */ 	line-height: 1.1em;
/* 187  */ 	margin: .2em 0 .8em;
/* 188  */ 	word-spacing: .05em
/* 189  */ }
/* 190  */ #s-main-cntnt h2 span {
/* 191  */ 	color: #888
/* 192  */ }
/* 193  */ #s-main-cntnt h2 strong {
/* 194  */ 	color: #7b9b0a;
/* 195  */ 	line-height: 0
/* 196  */ }
/* 197  */ #s-intro h3 {
/* 198  */ 	color: #2c3f03;
/* 199  */ 	font-family: Vollkorn, Georgia, serif;
/* 200  */ 	font-size: 7em;

/* style.css */

/* 201  */ 	font-weight: normal;
/* 202  */ 	letter-spacing: -.06em;
/* 203  */ 	line-height: .8em;
/* 204  */ 	margin: -10px 0 0px -3px;
/* 205  */ 	text-shadow: 0 1px 1px #cdee5b
/* 206  */ }
/* 207  */ #h3-from-blog {
/* 208  */ 	-moz-box-shadow: 0 7px 0 rgba(0, 0, 0, 0.12);
/* 209  */ 	-webkit-box-shadow: 0 7px 0 rgba(0, 0, 0, 0.12);
/* 210  */ 	background: #a7ce38;
/* 211  */ 	box-shadow: 0 7px 0 rgba(0, 0, 0, 0.12);
/* 212  */ 	color: #45600b;
/* 213  */ 	font-family: Vollkorn, Georgia, serif;
/* 214  */ 	font-size: 2.1em;
/* 215  */ 	font-weight: normal;
/* 216  */ 	letter-spacing: -.07em;
/* 217  */ 	line-height: 1.1em;
/* 218  */ 	margin: 0 0 0 25px;
/* 219  */ 	padding: 8px 0 8px 15px;
/* 220  */ 	text-shadow: 0 1px 1px #c7e04d;
/* 221  */ 	width: 281px;
/* 222  */ 	word-spacing: .05em
/* 223  */ }
/* 224  */ .d-insde-col h3 {
/* 225  */ 	color: #353535;
/* 226  */ 	font-family: Vollkorn, Georgia, serif;
/* 227  */ 	font-size: 2.4em;
/* 228  */ 	font-weight: normal;
/* 229  */ 	letter-spacing: -.09em;
/* 230  */ 	line-height: 1em;
/* 231  */ 	margin: .8em 0
/* 232  */ }
/* 233  */ .d-insde-col h3 span {
/* 234  */ 	color: #666
/* 235  */ }
/* 236  */ .d-insde-col h4 {
/* 237  */ 	color: #464646;
/* 238  */ 	font-size: 1.5em;
/* 239  */ 	letter-spacing: -.09em;
/* 240  */ 	margin: .5em 0 .8em
/* 241  */ }
/* 242  */ .inside .d-pf-itm-cntnt h4 {
/* 243  */ 	color: #5e5e5e;
/* 244  */ 	font-size: 1.6em;
/* 245  */ 	letter-spacing: -.09em
/* 246  */ }
/* 247  */ #f-meta h4 {
/* 248  */ 	color: #000;
/* 249  */ 	font-family: Vollkorn, Georgia, serif;
/* 250  */ 	font-size: 2.1em;

/* style.css */

/* 251  */ 	font-weight: normal;
/* 252  */ 	letter-spacing: -.08em;
/* 253  */ 	line-height: 1.3em;
/* 254  */ 	margin: .2em 0 .8em;
/* 255  */ 	word-spacing: .07em
/* 256  */ }
/* 257  */ .inside .d-insde-col h5 {
/* 258  */ 	color: #616161;
/* 259  */ 	font-family: Vollkorn, Georgia, serif;
/* 260  */ 	font-size: 1.3em;
/* 261  */ 	font-weight: normal;
/* 262  */ 	letter-spacing: -.04em;
/* 263  */ 	line-height: 1.1em;
/* 264  */ 	margin: .2em 0 .8em
/* 265  */ }
/* 266  */ #h2-thnk-u {
/* 267  */ 	color: #bababa;
/* 268  */ 	font-family: Vollkorn, Georgia, serif;
/* 269  */ 	font-size: 3.55em;
/* 270  */ 	font-weight: normal;
/* 271  */ 	letter-spacing: -.08em;
/* 272  */ 	line-height: 1.3em;
/* 273  */ 	margin: 0
/* 274  */ }
/* 275  */ #h2-thnk-u strong {
/* 276  */ 	color: #000
/* 277  */ }
/* 278  */ #h3-come-back {
/* 279  */ 	color: #bababa;
/* 280  */ 	font-family: Vollkorn, Georgia, serif;
/* 281  */ 	font-size: 2.4em;
/* 282  */ 	font-weight: normal;
/* 283  */ 	letter-spacing: -.06em;
/* 284  */ 	line-height: 1em;
/* 285  */ 	margin: 0;
/* 286  */ 	padding: .3em 0 1.5em
/* 287  */ }
/* 288  */ p {
/* 289  */ 	color: #565656;
/* 290  */ 	font-size: 1em;
/* 291  */ 	line-height: 1.8em;
/* 292  */ 	margin: .7em 0 1.1em;
/* 293  */ 	word-spacing: .03em
/* 294  */ }
/* 295  */ .p-frst {
/* 296  */ 	background: #000;
/* 297  */ 	color: #797979;
/* 298  */ 	font-size: 1.2em;
/* 299  */ 	letter-spacing: -.07em;
/* 300  */ 	line-height: 1.8em;

/* style.css */

/* 301  */ 	word-spacing: .03em
/* 302  */ }
/* 303  */ .inside .p-frst {
/* 304  */ 	padding: 5px 5px 0 0
/* 305  */ }
/* 306  */ .about.inside .p-frst {
/* 307  */ 	margin-top: 0;
/* 308  */ 	padding-top: 0;
/* 309  */ }
/* 310  */ .p-frst strong {
/* 311  */ 	color: #afafaf
/* 312  */ }
/* 313  */ .img-flt {
/* 314  */ 	float: right;
/* 315  */ 	margin: 0 0 5px 10px
/* 316  */ }
/* 317  */ #d-hills {
/* 318  */ 	background: #fff url(/wp-content/themes/glo-folio-2.0/images/hills-bg.jpg?98ac63) 10% 210px repeat-x;
/* 319  */ 	height: 400px;
/* 320  */ 	position: absolute;
/* 321  */ 	top: 0;
/* 322  */ 	width: 100%;
/* 323  */ 	z-index: 0
/* 324  */ }
/* 325  */ #d-kng-cntnr {
/* 326  */ 	border-top: 20px solid #f2f2f2;
/* 327  */ 	margin: 1px auto 0;
/* 328  */ 	max-width: 2460px;
/* 329  */ 	position: relative
/* 330  */ }
/* 331  */ .d-cntnr {
/* 332  */ 	margin: 0 auto;
/* 333  */ 	max-width: 1900px;
/* 334  */ 	min-width: 900px;
/* 335  */ 	padding: 0;
/* 336  */ 	position: relative;
/* 337  */ 	width: 90%
/* 338  */ }
/* 339  */ #rght-col {
/* 340  */ 	background: rgba(123, 172, 17, 0.95);
/* 341  */ 	padding: 0;
/* 342  */ 	position: absolute;
/* 343  */ 	right: 0;
/* 344  */ 	width: 300px;
/* 345  */ 	z-index: 7
/* 346  */ }
/* 347  */ .d-main {
/* 348  */ 	margin: 0 300px 0 0
/* 349  */ }
/* 350  */ #d-full-wdth {

/* style.css */

/* 351  */ 	left: -5.6%;
/* 352  */ 	position: absolute;
/* 353  */ 	top: 300px;
/* 354  */ 	width: 111.2%;
/* 355  */ 	z-index: 6
/* 356  */ }
/* 357  */ #h-srch+nav {
/* 358  */ 	background: #0d5070
/* 359  */ }
/* 360  */ #s-main-cntnt {
/* 361  */ 	margin: 570px 0 0
/* 362  */ }
/* 363  */ #d-msk {
/* 364  */ 	background: rgba(0, 0, 0, 0.70);
/* 365  */ 	height: 100%;
/* 366  */ 	opacity: 0;
/* 367  */ 	position: absolute;
/* 368  */ 	top: -21px;
/* 369  */ 	width: 100%;
/* 370  */ 	z-index: 0
/* 371  */ }
/* 372  */ .d-thmb-slidr {
/* 373  */ 	background: #000;
/* 374  */ 	height: 110px;
/* 375  */ 	overflow: hidden
/* 376  */ }
/* 377  */ .d-thmb-slidr ul {
/* 378  */ 	margin: 0;
/* 379  */ 	padding: 0;
/* 380  */ 	position: relative
/* 381  */ }
/* 382  */ #top {
/* 383  */ 	margin: 57px 0 0
/* 384  */ }
/* 385  */ #bottom {
/* 386  */ 	margin: 1px 0 0
/* 387  */ }
/* 388  */ .d-thmb-slidr li {
/* 389  */ 	cursor: pointer;
/* 390  */ 	float: left;
/* 391  */ 	height: 110px;
/* 392  */ 	list-style: none outside none;
/* 393  */ 	margin: 0 0 0 1px;
/* 394  */ 	overflow: hidden;
/* 395  */ 	position: relative;
/* 396  */ 	text-align: center;
/* 397  */ 	width: 151px
/* 398  */ }
/* 399  */ .d-thmb-slidr li a {
/* 400  */ 	display: block;

/* style.css */

/* 401  */ 	height: 110px;
/* 402  */ 	text-indent: -3000em;
/* 403  */ 	width: 151px
/* 404  */ }
/* 405  */ .d-thmb-slidr li a.on {
/* 406  */ 	background-position: -151px 0
/* 407  */ }
/* 408  */ .d-thmb-slidr li span, .pf-item .a-thmb > span {
/* 409  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/lbl-bg.png?98ac63) 0 5px no-repeat;
/* 410  */ 	color: #b1b1b1;
/* 411  */ 	display: block;
/* 412  */ 	font-size: 13px;
/* 413  */ 	letter-spacing: -1px;
/* 414  */ 	line-height: 1;
/* 415  */ 	left: -100px;
/* 416  */ 	margin: 4px 0 0;
/* 417  */ 	padding: 70px 50px 0px 5px;
/* 418  */ 	position: absolute;
/* 419  */ 	z-index: 2; 
/* 420  */ 	text-align: left;
/* 421  */ 	top: 0;
/* 422  */ 	width: 42px; height: 36px;
/* 423  */ }
/* 424  */ .pf-item .a-thmb > span {
/* 425  */ 	top: 45px; left: -105px;
/* 426  */ 	padding: 70px 50px 5px 10px;
/* 427  */ }
/* 428  */ .d-thmb-slidr li span strong, .pf-item span strong {
/* 429  */ 	color: #9dcb21;
/* 430  */ 	display: block;
/* 431  */ }
/* 432  */ #a-prev, #a-nxt, #a-prev2, #a-nxt2 {
/* 433  */ 	cursor: pointer;
/* 434  */ 	font-size: .8em;
/* 435  */ 	text-decoration: underline
/* 436  */ }
/* 437  */ #a-nxt2 {
/* 438  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/thumb-slidr-arrw.png?98ac63) 0 0 no-repeat;
/* 439  */ 	clear: left;
/* 440  */ 	display: block;
/* 441  */ 	float: left;
/* 442  */ 	height: 33px;
/* 443  */ 	margin: -25px 0 0;
/* 444  */ 	position: relative;
/* 445  */ 	text-indent: -3000em;
/* 446  */ 	width: 25px;
/* 447  */ 	z-index: 9
/* 448  */ }
/* 449  */ #a-nxt2:hover {
/* 450  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/thumb-slidr-arrw.png?98ac63) -25px 0 no-repeat

/* style.css */

/* 451  */ }
/* 452  */ .li-afw a {
/* 453  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/thmbs/afw.jpg?98ac63) 0 0 no-repeat
/* 454  */ }
/* 455  */ .li-mag a {
/* 456  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/thmbs/mag.jpg?98ac63) 0 0 no-repeat
/* 457  */ }
/* 458  */ .li-jcc a {
/* 459  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/thmbs/jcc.jpg?98ac63) 0 0 no-repeat
/* 460  */ }
/* 461  */ .li-iap2 a {
/* 462  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/thmbs/iap2.jpg?98ac63) 0 0 no-repeat
/* 463  */ }
/* 464  */ .li-dow a {
/* 465  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/thmbs/dow.jpg?98ac63) 0 0 no-repeat
/* 466  */ }
/* 467  */ .li-bri a {
/* 468  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/thmbs/brty.jpg?98ac63) 0 0 no-repeat
/* 469  */ }
/* 470  */ .li-smrc a {
/* 471  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/thmbs/smrc.jpg?98ac63) 0 0 no-repeat
/* 472  */ }
/* 473  */ .li-mak a {
/* 474  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/thmbs/mak.jpg?98ac63) 0 0 no-repeat
/* 475  */ }
/* 476  */ .li-pc a {
/* 477  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/thmbs/pc.jpg?98ac63) 0 0 no-repeat
/* 478  */ }
/* 479  */ .li-reg a {
/* 480  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/thmbs/reg.jpg?98ac63) 0 0 no-repeat
/* 481  */ }
/* 482  */ .li-rot a {
/* 483  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/thmbs/salaam.jpg?98ac63) 0 0 no-repeat
/* 484  */ }
/* 485  */ .li-sauda a {
/* 486  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/thmbs/sauda.jpg?98ac63) 0 0 no-repeat
/* 487  */ }
/* 488  */ .li-sse a {
/* 489  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/thmbs/sse.jpg?98ac63) 0 0 no-repeat
/* 490  */ }
/* 491  */ 
/* 492  */ /*
/* 493  *| 	New additions: -------------- */
/* 494  */ 
/* 495  */ .li-ptv3 a {
/* 496  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/thmbs/pt-v3.jpg?98ac63) 0 0 no-repeat
/* 497  */ }
/* 498  */ .li-ptios a {
/* 499  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/thmbs/pt-ios.jpg?98ac63) 0 0 no-repeat
/* 500  */ }

/* style.css */

/* 501  */ .li-shtb a {
/* 502  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/thmbs/shtb.jpg?98ac63) 0 0 no-repeat
/* 503  */ }
/* 504  */ 
/* 505  */ 
/* 506  */ 
/* 507  */ 
/* 508  */ 
/* 509  */ #s-main-featr {
/* 510  */ 	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
/* 511  */ 	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
/* 512  */ 	box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
/* 513  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/main-featr-bg.jpg?98ac63) 0 0 no-repeat;
/* 514  */ 	float: left;
/* 515  */ 	height: 326px;
/* 516  */ 	position: relative;
/* 517  */ 	width: 523px;
/* 518  */ 	z-index: 1
/* 519  */ }
/* 520  */ #ul-mn-sldr {
/* 521  */ 	background: #000 url(/wp-content/themes/glo-folio-2.0/images/preload.gif?98ac63) center center no-repeat;
/* 522  */ 	float: left;
/* 523  */ 	height: 294px;
/* 524  */ 	margin: 0;
/* 525  */ 	overflow: hidden;
/* 526  */ 	position: relative;
/* 527  */ 	width: 523px
/* 528  */ }
/* 529  */ .slidecontrolls {
/* 530  */ 	float: right;
/* 531  */ 	margin: -3px -6px 0 0;
/* 532  */ 	position: relative;
/* 533  */ 	width: auto;
/* 534  */ 	z-index: 2
/* 535  */ }
/* 536  */ .slidecontrolls a {
/* 537  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/slidr-nav.png?98ac63) -47px 0 no-repeat;
/* 538  */ 	cursor: pointer;
/* 539  */ 	display: block;
/* 540  */ 	float: left;
/* 541  */ 	height: 46px;
/* 542  */ 	margin: 0 0 0 -20px;
/* 543  */ 	outline: none;
/* 544  */ 	width: 47px
/* 545  */ }
/* 546  */ .slidecontrolls .active_item {
/* 547  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/slidr-nav.png?98ac63) 0 0 no-repeat
/* 548  */ }
/* 549  */ .slidecontrolls a:hover {
/* 550  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/slidr-nav.png?98ac63) -94px 0 no-repeat

/* style.css */

/* 551  */ }
/* 552  */ #d-slidr-titl {
/* 553  */ 	background: #1f1f1f;
/* 554  */ 	clear: left;
/* 555  */ 	color: #686868;
/* 556  */ 	font-size: .88em;
/* 557  */ 	margin: 1px 125px 0 0;
/* 558  */ 	padding: 10px 15px;
/* 559  */ 	text-align: right
/* 560  */ }
/* 561  */ #d-slidr-titl a {
/* 562  */ 	color: #858585;
/* 563  */ 	text-decoration: none
/* 564  */ }
/* 565  */ #d-slidr-titl a:hover {
/* 566  */ 	color: #fff;
/* 567  */ 	text-decoration: underline
/* 568  */ }
/* 569  */ #d-refrsh {
/* 570  */ 	height: 235px;
/* 571  */ 	width: 475px;
/* 572  */ 	left: 0;
/* 573  */ 	opacity: 0;
/* 574  */ 	position: absolute;
/* 575  */ 	top: 0;
/* 576  */ 	z-index: 99
/* 577  */ }
/* 578  */ #d-refrsh:hover {
/* 579  */ 	opacity: 1
/* 580  */ }
/* 581  */ #a-cycle {
/* 582  */ 	-moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
/* 583  */ 	-webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
/* 584  */ 	background: rgba(0, 0, 0, 0.4) url(/wp-content/themes/glo-folio-2.0/images/refresh.png?98ac63) -1px 0 no-repeat;
/* 585  */ 	box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
/* 586  */ 	display: block;
/* 587  */ 	height: 90px;
/* 588  */ 	position: relative;
/* 589  */ 	text-indent: -3000em;
/* 590  */ 	width: 90px
/* 591  */ }
/* 592  */ #d-refrsh:hover #a-cycle:hover {
/* 593  */ 	background: rgba(0, 0, 0, 0.7) url(/wp-content/themes/glo-folio-2.0/images/refresh-hov.png?98ac63) -1px 0 no-repeat
/* 594  */ }
/* 595  */ #a-glo-logo {
/* 596  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/glo-headr-logo.png?98ac63) 0 0 no-repeat;
/* 597  */ 	height: 477px;
/* 598  */ 	left: 10%;
/* 599  */ 	margin: -21px 0 0;
/* 600  */ 	position: absolute;

/* style.css */

/* 601  */ 	text-indent: -3000em;
/* 602  */ 	width: 860px;
/* 603  */ 	z-index: 1
/* 604  */ }
/* 605  */ #h1-glo-txt {
/* 606  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/glo-headr-logo-and-txt.png?98ac63) 0 0 no-repeat;
/* 607  */ 	height: 114px;
/* 608  */ 	left: 5px;
/* 609  */ 	position: relative;
/* 610  */ 	text-indent: -3000em;
/* 611  */ 	top: 45px;
/* 612  */ 	width: 186px;
/* 613  */ 	z-index: 1
/* 614  */ }
/* 615  */ #h-srch-nav {
/* 616  */ 	background: #f2f2f2;
/* 617  */ 	border-top: 21px solid #287B9D;
/* 618  */ 	border-bottom: 10px solid #6c9511;
/* 619  */ 	margin: -21px 0 0;
/* 620  */ 	padding: 0;
/* 621  */ }
/* 622  */ #s-social {
/* 623  */ 	padding: 15px 0 12px 10px;
/* 624  */ }
/* 625  */ #s-social a {
/* 626  */ 	display: inline-block;
/* 627  */ 	text-indent: -3000em;
/* 628  */ 	height: 18px;
/* 629  */ 	margin: 0 8px 0 0;
/* 630  */ 	padding: 0;
/* 631  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/social-icns.png?98ac63) 0 0 no-repeat
/* 632  */ }
/* 633  */ #s-social #a-vimeo {
/* 634  */ 	width: 20px;
/* 635  */ 	background-position: 0 0;
/* 636  */ }
/* 637  */ #s-social #a-vimeo:hover {
/* 638  */ 	background-position: 0 -18px;
/* 639  */ }
/* 640  */ #s-social #a-twitter {
/* 641  */ 	width: 28px;
/* 642  */ 	background-position: -23px 0;
/* 643  */ }
/* 644  */ #s-social #a-twitter:hover {
/* 645  */ 	background-position: -23px -18px;
/* 646  */ }
/* 647  */ #s-social #a-dribbble {
/* 648  */ 	width: 22px;
/* 649  */ 	background-position: -54px 0;
/* 650  */ }

/* style.css */

/* 651  */ #s-social #a-dribbble:hover {
/* 652  */ 	background-position: -54px -18px;
/* 653  */ }
/* 654  */ #s-social #a-rss {
/* 655  */ 	width: 22px;
/* 656  */ 	background-position: -79px 0;
/* 657  */ }
/* 658  */ #s-social #a-rss:hover {
/* 659  */ 	background-position: -79px -18px;
/* 660  */ }
/* 661  */ #s-social #a-linkd-in {
/* 662  */ 	width: 20px;
/* 663  */ 	background-position: -104px 0;
/* 664  */ }
/* 665  */ #s-social #a-linkd-in:hover {
/* 666  */ 	background-position: -104px -18px;
/* 667  */ }
/* 668  */ #s-srch {
/* 669  */ 	background: #f9f9f9;
/* 670  */ 	border-top: 1px solid #fff;
/* 671  */ 	border-bottom: 1px solid #fff;
/* 672  */ 	display: block;
/* 673  */ 	margin: 25px 0 0 0;
/* 674  */ }
/* 675  */ #s-srch:hover {
/* 676  */ 	background: #000
/* 677  */ }
/* 678  */ #s-srch input {
/* 679  */ 	background: transparent;
/* 680  */ 	border: none;
/* 681  */ 	color: #c6c6c6;
/* 682  */ 	font-family: Vollkorn, Georgia, serif;
/* 683  */ 	font-size: 1.9em;
/* 684  */ 	letter-spacing: -1px;
/* 685  */ 	margin: 5px;
/* 686  */ 	outline: none;
/* 687  */ 	padding: 17px 15px;
/* 688  */ 	margin: 0;
/* 689  */ 	width: 190px;
/* 690  */ 	word-spacing: .2em
/* 691  */ }
/* 692  */ #s-srch input.i-go {
/* 693  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/srch-arrw.png?98ac63) 0 0 no-repeat;
/* 694  */ 	display: block;
/* 695  */ 	float: right;
/* 696  */ 	height: 34px;
/* 697  */ 	margin: 12px 20px 0 0;
/* 698  */ 	padding: 0;
/* 699  */ 	text-indent: -3000em;
/* 700  */ 	width: 24px

/* style.css */

/* 701  */ }
/* 702  */ #s-srch input.i-go:hover {
/* 703  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/srch-arrw.png?98ac63) -24px 0 no-repeat
/* 704  */ }
/* 705  */ .d-clr-fx {
/* 706  */ 	clear: left;
/* 707  */ 	height: 1px
/* 708  */ }
/* 709  */ .col {
/* 710  */ 	float: left;
/* 711  */ 	position: relative;
/* 712  */ 	margin: 0;
/* 713  */ 	width: 33.3%
/* 714  */ }
/* 715  */ .about .col.far-lft {
/* 716  */ 	display: none;
/* 717  */ }
/* 718  */ .about .col {
/* 719  */ 	width: 50%;
/* 720  */ }
/* 721  */ .col.mid-wde {
/* 722  */ 	width: 66.6%
/* 723  */ }
/* 724  */ .d-insde-col {
/* 725  */ 	padding: 0 40px 0 0
/* 726  */ }
/* 727  */ #d-footr {
/* 728  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/footr-grad-wrppr.png?98ac63) 0 0 repeat-x;
/* 729  */ 	margin: -300px 0 0;
/* 730  */ 	padding: 300px 0 0
/* 731  */ }
/* 732  */ #f-meta {
/* 733  */ 	clear: left;
/* 734  */ 	position: relative;
/* 735  */ 	z-index: 2
/* 736  */ }
/* 737  */ #s-footr-top {
/* 738  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/footr-ice-wrppr.png?98ac63) 1392px bottom repeat-x;
/* 739  */ 	min-height: 430px
/* 740  */ }
/* 741  */ #s-footr-bot {
/* 742  */ 	background: #fff;
/* 743  */ 	clear: left;
/* 744  */ 	margin: -5px 0 0
/* 745  */ }
/* 746  */ #f-meta .d-cntnr {
/* 747  */ 	padding: 170px 0 0
/* 748  */ }
/* 749  */ #footr-rght-col {
/* 750  */ 	background: #c7e21d url(/wp-content/themes/glo-folio-2.0/images/footr-green-grad-wrppr.png?98ac63) 0 0 repeat-x;

/* style.css */

/* 751  */ 	height: 300px;
/* 752  */ 	padding: 0;
/* 753  */ 	position: absolute;
/* 754  */ 	right: 0;
/* 755  */ 	width: 300px;
/* 756  */ 	z-index: 1
/* 757  */ }
/* 758  */ #n-meta li {
/* 759  */ 	float: left;
/* 760  */ 	margin: 0;
/* 761  */ 	padding: 0
/* 762  */ }
/* 763  */ #n-meta a {
/* 764  */ 	-moz-border-radius: 9px;
/* 765  */ 	-webkit-border-radius: 9px;
/* 766  */ 	background: #dcdcdc;
/* 767  */ 	border-radius: 9px;
/* 768  */ 	color: #969696;
/* 769  */ 	display: block;
/* 770  */ 	font-size: 1.1em;
/* 771  */ 	letter-spacing: -.06em;
/* 772  */ 	margin: 0 6px 15px 0;
/* 773  */ 	padding: 8px 14px;
/* 774  */ 	text-decoration: none
/* 775  */ }
/* 776  */ #n-meta a:hover {
/* 777  */ 	background: #72a617;
/* 778  */ 	color: #efff84
/* 779  */ }
/* 780  */ #n-meta .current_page_item a {
/* 781  */ 	background: #000;
/* 782  */ 	color: #fff
/* 783  */ }
/* 784  */ #f-meta p {
/* 785  */ 	color: #898989;
/* 786  */ 	padding: 0
/* 787  */ }
/* 788  */ #sp-tch-lgos {
/* 789  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/footr-tech-logos.png?98ac63) 0 0 no-repeat;
/* 790  */ 	display: block;
/* 791  */ 	float: left;
/* 792  */ 	height: 95px;
/* 793  */ 	margin: 0 30px 30px 0;
/* 794  */ 	width: 48px
/* 795  */ }
/* 796  */ #s-footr-bot .d-cntnr {
/* 797  */ 	padding: 0
/* 798  */ }
/* 799  */ #a-bak2top {
/* 800  */ 	color: #bababa;

/* style.css */

/* 801  */ 	display: block;
/* 802  */ 	font-family: Vollkorn, Georgia, serif;
/* 803  */ 	font-size: 1.7em;
/* 804  */ 	font-weight: normal;
/* 805  */ 	letter-spacing: -.06em;
/* 806  */ 	line-height: 1.3em;
/* 807  */ 	padding: 0 0 1em;
/* 808  */ 	text-decoration: none;
/* 809  */ 	width: 33.3%
/* 810  */ }
/* 811  */ #sp-arrow {
/* 812  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/footr-arrw.png?98ac63) 0 0 no-repeat;
/* 813  */ 	display: block;
/* 814  */ 	float: right;
/* 815  */ 	height: 25px;
/* 816  */ 	width: 40px
/* 817  */ }
/* 818  */ #a-bak2top:hover {
/* 819  */ 	color: #8d8d8d
/* 820  */ }
/* 821  */ #a-bak2top:hover #sp-arrow {
/* 822  */ 	background-position: -40px 0
/* 823  */ }
/* 824  */ #a-footr-glo {
/* 825  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/footr-glo-logo.png?98ac63) 0 0 no-repeat;
/* 826  */ 	bottom: 0;
/* 827  */ 	display: block;
/* 828  */ 	height: 106px;
/* 829  */ 	left: 50%;
/* 830  */ 	position: absolute;
/* 831  */ 	text-indent: -3000em;
/* 832  */ 	width: 401px
/* 833  */ }
/* 834  */ #s-intro {
/* 835  */ 	-moz-box-shadow: 0 12px 0 rgba(0, 0, 0, 0.13);
/* 836  */ 	-webkit-box-shadow: 0 12px 0 rgba(0, 0, 0, 0.13);
/* 837  */ 	background: rgba(123, 172, 17, 0.96) url(/wp-content/themes/glo-folio-2.0/images/intro-statemnt-bg.png?98ac63) 0 0 no-repeat;
/* 838  */ 	box-shadow: 0 12px 0 rgba(0, 0, 0, 0.13);
/* 839  */ 	min-width: 390px;
/* 840  */ 	padding: 26px 40px 40px;
/* 841  */ 	position: absolute;
/* 842  */ 	right: -5.6%;
/* 843  */ 	top: 210px;
/* 844  */ 	width: 25%;
/* 845  */ 	z-index: 8
/* 846  */ }
/* 847  */ #s-intro hgroup {
/* 848  */ 	padding: 0 0 20px
/* 849  */ }
/* 850  */ #s-intro p {

/* style.css */

/* 851  */ 	color: #2f4907;
/* 852  */ 	font-size: 12px;
/* 853  */ 	letter-spacing: 0;
/* 854  */ 	line-height: 1.5;
/* 855  */ 	margin: 0
/* 856  */ }
/* 857  */ #s-intro p em {
/* 858  */ 	font-style: normal;
/* 859  */ }
/* 860  */ #s-intro p a {
/* 861  */ 	color: inherit;
/* 862  */ }
/* 863  */ #d-intro {
/* 864  */ 	-moz-column-count: 2;
/* 865  */ 	-moz-column-gap: 30px;
/* 866  */ 	-webkit-column-count: 2;
/* 867  */ 	-webkit-column-gap: 30px;
/* 868  */ 	column-count: 2;
/* 869  */ 	column-gap: 30px
/* 870  */ }
/* 871  */ .widget_links h3 {
/* 872  */ 	display: none;
/* 873  */ }
/* 874  */ .widget_links ul {
/* 875  */ 	margin: 1em 0 0 25px;
/* 876  */ 	padding: 0
/* 877  */ }
/* 878  */ .widget_links ul li {
/* 879  */ 	border-bottom: 1px dotted #568808;
/* 880  */ 	border-top: 1px dotted #93ba24;
/* 881  */ 	clear: left;
/* 882  */ 	color: #304406;
/* 883  */ 	font-size: .95em;
/* 884  */ 	line-height: 1.5em;
/* 885  */ 	list-style: none;
/* 886  */ 	margin: 0 30px 0 0;
/* 887  */ 	padding: .5em 20px 1em 15px
/* 888  */ }
/* 889  */ .widget_links li a {
/* 890  */ 	color: #334d02;
/* 891  */ 	display: block;
/* 892  */ 	font-family: Vollkorn, Georgia, serif;
/* 893  */ 	font-size: 2.4em;
/* 894  */ 	letter-spacing: -.08em;
/* 895  */ 	line-height: 1em;
/* 896  */ 	margin: 10px 0 0 -3px;
/* 897  */ 	padding: 0;
/* 898  */ 	text-decoration: none;
/* 899  */ 	text-shadow: 0 1px 0 #97c118
/* 900  */ }

/* style.css */

/* 901  */ .widget_links li a:before {
/* 902  */ 	content: "";
/* 903  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/blg-fed-arrw.png?98ac63) 0 0 no-repeat;
/* 904  */ 	float: right;
/* 905  */ 	height: 31px;
/* 906  */ 	margin: 6px -15px 0 15px;
/* 907  */ 	width: 21px
/* 908  */ }
/* 909  */ .widget_links li:hover a:before {
/* 910  */ 	background-position: -21px 0
/* 911  */ }
/* 912  */ .widget_links li:first-of-type {
/* 913  */ 	border-top: none
/* 914  */ }
/* 915  */ .widget_links li:last-of-type {
/* 916  */ 	border-bottom: none
/* 917  */ }
/* 918  */ #sp-spce {
/* 919  */ 	float: right;
/* 920  */ 	height: 280px;
/* 921  */ 	margin: 10px 0 0;
/* 922  */ 	padding: 0;
/* 923  */ 	width: 130px
/* 924  */ }
/* 925  */ #sp-sklls-chrt {
/* 926  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/sklls-chrt.png?98ac63) center 15px no-repeat;
/* 927  */ 	float: left;
/* 928  */ 	height: 275px;
/* 929  */ 	margin: 10px 10px 0 -177px;
/* 930  */ 	padding: 0;
/* 931  */ 	position: relative;
/* 932  */ 	width: 290px
/* 933  */ }
/* 934  */ #sp-sklls-chrt a {
/* 935  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/skills-dots.png?98ac63) 0 0 no-repeat;
/* 936  */ 	cursor: pointer;
/* 937  */ 	display: block;
/* 938  */ 	height: 17px;
/* 939  */ 	margin: 0;
/* 940  */ 	outline: none;
/* 941  */ 	position: absolute;
/* 942  */ 	text-decoration: none;
/* 943  */ 	text-indent: -3000em;
/* 944  */ 	width: 16px
/* 945  */ }
/* 946  */ #sp-sklls-chrt a:hover {
/* 947  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/skills-dots.png?98ac63) -16px 0 no-repeat
/* 948  */ }
/* 949  */ #sp-sklls-chrt a em {
/* 950  */ 	display: block;

/* style.css */

/* 951  */ 	font-style: normal;
/* 952  */ 	padding: 15px 20px;
/* 953  */ 	position: absolute;
/* 954  */ 	text-indent: 0
/* 955  */ }
/* 956  */ #sp-sklls-chrt a em span {
/* 957  */ 	display: block;
/* 958  */ 	font-family: Vollkorn, Georgia, serif;
/* 959  */ 	font-size: 1.3em;
/* 960  */ 	font-weight: bold;
/* 961  */ 	letter-spacing: -.1em;
/* 962  */ 	line-height: .9em;
/* 963  */ 	text-decoration: none;
/* 964  */ 	word-spacing: .1em
/* 965  */ }
/* 966  */ #sp-sklls-chrt a em span.sp-prcnt {
/* 967  */ 	float: right;
/* 968  */ 	font-size: 2.2em;
/* 969  */ 	font-weight: normal;
/* 970  */ 	margin: -14px 5px 0 0
/* 971  */ }
/* 972  */ #a-3d {
/* 973  */ 	left: 110px;
/* 974  */ 	top: 55px
/* 975  */ }
/* 976  */ #a-web {
/* 977  */ 	left: 162px;
/* 978  */ 	top: 55px
/* 979  */ }
/* 980  */ #a-2d {
/* 981  */ 	left: 45px;
/* 982  */ 	top: 112px
/* 983  */ }
/* 984  */ #a-mm-ux {
/* 985  */ 	left: 45px;
/* 986  */ 	top: 155px
/* 987  */ }
/* 988  */ #sp-sklls-chrt #a-3d em {
/* 989  */ 	background: url(/wp-content/themes/glo-folio-2.0/images/3d-bubbl.png?98ac63) 0 0 no-repeat;
/* 990  */ 	height: 67px;
/* 991  */ 	left: -90px;
/* 992  */ 	top: -80px;
/* 993  */ 	width: 102px
/* 994  */ }
/* 995  */ #sp-sklls-chrt #a-3d em span {
/* 996  */ 	color: #7a3802;
/* 997  */ 	text-shadow: 0 1px 0 #e0ac09
/* 998  */ }
/* 999  */ #sp-sklls-chrt #a-3d em span.sp-prcnt {
/* 1000 */ 	color: #ffe792;

/* style.css */

/* 1001 */ 	text-shadow: 0 1px 0 #d48f08
/* 1002 */ }
/* 1003 */ #sp-sklls-chrt #a-web em {
/* 1004 */ 	background: url(/wp-content/themes/glo-folio-2.0/images/web-ux-bubbl.png?98ac63) 0 0 no-repeat;
/* 1005 */ 	height: 61px;
/* 1006 */ 	left: -37px;
/* 1007 */ 	top: -75px;
/* 1008 */ 	width: 92px
/* 1009 */ }
/* 1010 */ #sp-sklls-chrt #a-web em span {
/* 1011 */ 	color: #244104;
/* 1012 */ 	text-shadow: 0 1px 0 #a0cd27
/* 1013 */ }
/* 1014 */ #sp-sklls-chrt #a-web em span.sp-prcnt {
/* 1015 */ 	color: #cde960;
/* 1016 */ 	margin: -3px 5px 0 0;
/* 1017 */ 	text-shadow: 0 1px 0 #436a05
/* 1018 */ }
/* 1019 */ #sp-sklls-chrt #a-2d em {
/* 1020 */ 	background: url(/wp-content/themes/glo-folio-2.0/images/mm-ux-bubbl.png?98ac63) 0 0 no-repeat;
/* 1021 */ 	height: 69px;
/* 1022 */ 	left: -80px;
/* 1023 */ 	top: -83px;
/* 1024 */ 	width: 92px
/* 1025 */ }
/* 1026 */ #sp-sklls-chrt #a-2d em span {
/* 1027 */ 	color: #521b07;
/* 1028 */ 	text-shadow: 0 1px 0 #c25717
/* 1029 */ }
/* 1030 */ #sp-sklls-chrt #a-2d em span.sp-prcnt {
/* 1031 */ 	color: #f59743;
/* 1032 */ 	text-shadow: 0 1px 0 #a7471d
/* 1033 */ }
/* 1034 */ #sp-sklls-chrt #a-mm-ux em {
/* 1035 */ 	background: url(/wp-content/themes/glo-folio-2.0/images/2d-bubbl.png?98ac63) 0 0 no-repeat;
/* 1036 */ 	height: 73px;
/* 1037 */ 	left: -78px;
/* 1038 */ 	top: 7px;
/* 1039 */ 	width: 92px
/* 1040 */ }
/* 1041 */ #sp-sklls-chrt #a-mm-ux em span {
/* 1042 */ 	color: #05375a;
/* 1043 */ 	margin: 15px 0 0;
/* 1044 */ 	text-shadow: 0 1px 0 #349ed7
/* 1045 */ }
/* 1046 */ #sp-sklls-chrt #a-mm-ux em span.sp-prcnt {
/* 1047 */ 	color: #67cbf4;
/* 1048 */ 	margin: -14px 5px 0 0;
/* 1049 */ 	text-shadow: 0 1px 0 #064c83
/* 1050 */ }

/* style.css */

/* 1051 */ #sp-sklls-headr {
/* 1052 */ 	color: #9b9b9b;
/* 1053 */ 	display: block;
/* 1054 */ 	font-family: Vollkorn, Georgia, serif;
/* 1055 */ 	font-size: 3.1em;
/* 1056 */ 	letter-spacing: -.07em;
/* 1057 */ 	line-height: 1em;
/* 1058 */ 	margin: 90px 0 0 105px;
/* 1059 */ 	text-shadow: 0 1px 4px #000;
/* 1060 */ 	word-spacing: .2em
/* 1061 */ }
/* 1062 */ #sp-sklls-headr strong {
/* 1063 */ 	color: #d0d0d0;
/* 1064 */ 	font-size: .9em;
/* 1065 */ 	line-height: .4em
/* 1066 */ }
/* 1067 */ #sp-descr {
/* 1068 */ 	color: #d0d0d0;
/* 1069 */ 	display: block;
/* 1070 */ 	font-family: Vollkorn, Georgia, serif;
/* 1071 */ 	font-size: 1.1em;
/* 1072 */ 	letter-spacing: -.03em;
/* 1073 */ 	line-height: 1.2em;
/* 1074 */ 	margin: 8px 13px 0 105px;
/* 1075 */ 	text-shadow: 0 1px 4px #000
/* 1076 */ }
/* 1077 */ #mn-main-nv {
/* 1078 */ 	background: none repeat scroll 0 0 #FFFFFF;
/* 1079 */ 	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.10);
/* 1080 */ 	border-bottom: 10px solid #f1f1f1;
/* 1081 */ 	margin: 0 0 0 -50px;
/* 1082 */ 	padding: 8px 0 7px 50px;
/* 1083 */ 	width: 321px
/* 1084 */ }
/* 1085 */ #mn-main-nv ul {
/* 1086 */ 	margin: 0
/* 1087 */ }
/* 1088 */ #mn-main-nv li {
/* 1089 */ 	display: inline-block;
/* 1090 */ 	list-style: none;
/* 1091 */ 	margin: 0 4px 0 0;
/* 1092 */ 	padding: 0
/* 1093 */ }
/* 1094 */ #mn-main-nv a {
/* 1095 */ 	-moz-border-radius: 6px;
/* 1096 */ 	-webkit-border-radius: 6px;
/* 1097 */ 	border-radius: 6px;
/* 1098 */ 	color: #b3b3b3;
/* 1099 */ 	display: block;
/* 1100 */ 	font-size: 1.3em;

/* style.css */

/* 1101 */ 	letter-spacing: -.07em;
/* 1102 */ 	padding: 7px 11px;
/* 1103 */ 	text-decoration: none
/* 1104 */ }
/* 1105 */ #mn-main-nv a:hover {
/* 1106 */ 	background: #287B9D;
/* 1107 */ 	color: #bfe2f0
/* 1108 */ }
/* 1109 */ #mn-main-nv a:active {
/* 1110 */ 	-moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.10);
/* 1111 */ 	-webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.10);
/* 1112 */ 	background: #000;
/* 1113 */ 	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.10);
/* 1114 */ 	color: #fff
/* 1115 */ }
/* 1116 */ #mn-main-nv .current_page_item a {
/* 1117 */ 	background: #eaeaea;
/* 1118 */ 	color: #848484
/* 1119 */ }
/* 1120 */ #mn-main-nv .current_page_item a:hover {
/* 1121 */ 	-moz-box-shadow: none;
/* 1122 */ 	-webkit-box-shadow: none;
/* 1123 */ 	box-shadow: none;
/* 1124 */ 	color: #000;
/* 1125 */ 	text-decoration: underline
/* 1126 */ }
/* 1127 */ #sp-nv-left {
/* 1128 */ 	background: url(/wp-content/themes/glo-folio-2.0/images/nav-lft-arrw.png?98ac63) no-repeat 0 0;
/* 1129 */ 	display: block;
/* 1130 */ 	height: 53px;
/* 1131 */ 	left: -64px;
/* 1132 */ 	position: absolute;
/* 1133 */ 	width: 15px
/* 1134 */ }
/* 1135 */ #sp-nv-crnr {
/* 1136 */ 	background: url(/wp-content/themes/glo-folio-2.0/images/lght-gry-cornr.png?98ac63) no-repeat top right;
/* 1137 */ 	display: block;
/* 1138 */ 	height: 21px;
/* 1139 */ 	position: absolute;
/* 1140 */ 	right: -21px;
/* 1141 */ 	width: 21px
/* 1142 */ }
/* 1143 */ #inflow-intro-substitute {
/* 1144 */ 	margin: 40px 0 0 0;	
/* 1145 */ }
/* 1146 */ #s-udnr-intr {
/* 1147 */ 	margin: 0;
/* 1148 */ 	padding: 0 0 0 38px
/* 1149 */ }
/* 1150 */ #s-udnr-intr a {

/* style.css */

/* 1151 */ 	background: url(/wp-content/themes/glo-folio-2.0/images/cv-icn.png?98ac63) 0 0 no-repeat;
/* 1152 */ 	display: block;
/* 1153 */ 	float: left;
/* 1154 */ 	height: 51px;
/* 1155 */ 	margin: 0 18px 0 0;
/* 1156 */ 	text-indent: -3000em;
/* 1157 */ 	width: 44px
/* 1158 */ }
/* 1159 */ #s-udnr-intr #a-mail {
/* 1160 */ 	background: url(/wp-content/themes/glo-folio-2.0/images/cntct-icn.png?98ac63) 0 0 no-repeat;
/* 1161 */ 	height: 41px;
/* 1162 */ 	margin: 10px 0 0;
/* 1163 */ 	width: 58px
/* 1164 */ }
/* 1165 */ #s-udnr-intr #a-rss {
/* 1166 */ 	background: url(/wp-content/themes/glo-folio-2.0/images/rss-icn.png?98ac63) 0 0 no-repeat;
/* 1167 */ 	height: 50px;
/* 1168 */ 	margin: 0 14px 0 0;
/* 1169 */ 	width: 50px
/* 1170 */ }
/* 1171 */ #s-udnr-intr #a-cv:hover {
/* 1172 */ 	background: url(/wp-content/themes/glo-folio-2.0/images/cv-icn.png?98ac63) -44px 0 no-repeat
/* 1173 */ }
/* 1174 */ #s-udnr-intr #a-mail:hover {
/* 1175 */ 	background: url(/wp-content/themes/glo-folio-2.0/images/cntct-icn.png?98ac63) -58px 0 no-repeat
/* 1176 */ }
/* 1177 */ #s-udnr-intr #a-rss:hover {
/* 1178 */ 	background: url(/wp-content/themes/glo-folio-2.0/images/rss-icn.png?98ac63) -50px 0 no-repeat
/* 1179 */ }
/* 1180 */ #s-blog-fd {
/* 1181 */ 	clear: left;
/* 1182 */ 	padding: 22px 0 0
/* 1183 */ }
/* 1184 */ .sp-drk-grn {
/* 1185 */ 	background: url(/wp-content/themes/glo-folio-2.0/images/drk-grn-cornr.png?98ac63) 0 0 no-repeat;
/* 1186 */ 	display: block;
/* 1187 */ 	float: right;
/* 1188 */ 	height: 22px;
/* 1189 */ 	margin: 0 -21px 0 0;
/* 1190 */ 	width: 21px
/* 1191 */ }
/* 1192 */ #portfolio-filter {
/* 1193 */ 	font-size: 1.1em;
/* 1194 */ 	left: -5.6%;
/* 1195 */ 	margin: 0;
/* 1196 */ 	position: absolute;
/* 1197 */ 	top: 323px;
/* 1198 */ 	width: 93px;
/* 1199 */ 	z-index: 2
/* 1200 */ }

/* style.css */

/* 1201 */ #portfolio-filter li {
/* 1202 */ 	clear: left;
/* 1203 */ 	display: block;
/* 1204 */ 	list-style: none;
/* 1205 */ 	margin: 0 0 2px;
/* 1206 */ 	padding: 0;
/* 1207 */ 	width: 71px
/* 1208 */ }
/* 1209 */ #h3-filtr {
/* 1210 */ 	color: #5a5a5a;
/* 1211 */ 	font-family: Vollkorn, Georgia, serif;
/* 1212 */ 	font-size: 1.6em;
/* 1213 */ 	font-weight: normal;
/* 1214 */ 	letter-spacing: -.1em;
/* 1215 */ 	line-height: 1em;
/* 1216 */ 	padding: 0 20px 10px 0;
/* 1217 */ 	text-align: right
/* 1218 */ }
/* 1219 */ #portfolio-filter a {
/* 1220 */ 	-moz-border-radius: 9px;
/* 1221 */ 	-webkit-border-radius: 9px;
/* 1222 */ 	border-radius: 9px;
/* 1223 */ 	display: block;
/* 1224 */ 	font-family: Vollkorn, Georgia, serif;
/* 1225 */ 	font-size: 1.2em;
/* 1226 */ 	letter-spacing: -.08em;
/* 1227 */ 	line-height: 1em;
/* 1228 */ 	margin: 0 0 0 -60px;
/* 1229 */ 	overflow: hidden;
/* 1230 */ 	padding: 35px 15px 15px;
/* 1231 */ 	text-align: right;
/* 1232 */ 	text-decoration: none;
/* 1233 */ 	width: 55px
/* 1234 */ }
/* 1235 */ #portfolio-filter .all a {
/* 1236 */ 	background: #04416b;
/* 1237 */ 	color: #04416b
/* 1238 */ }
/* 1239 */ #portfolio-filter .web a {
/* 1240 */ 	background: #0764c3;
/* 1241 */ 	color: #0764c3
/* 1242 */ }
/* 1243 */ #portfolio-filter .touch a {
/* 1244 */ 	background: #2b8bdd;
/* 1245 */ 	color: #2b8bdd
/* 1246 */ }
/* 1247 */ #portfolio-filter .motion a {
/* 1248 */ 	background: #9fd034;
/* 1249 */ 	color: #9fd034;
/* 1250 */ }

/* style.css */

/* 1251 */ #portfolio-filter .photo a {
/* 1252 */ 	background: #68b515;
/* 1253 */ 	color: #68b515
/* 1254 */ }
/* 1255 */ #portfolio-filter .offline a {
/* 1256 */ 	background: #316a07;
/* 1257 */ 	color: #316a07
/* 1258 */ }
/* 1259 */ #portfolio-filter a:hover {
/* 1260 */ 	color: #fff;
/* 1261 */ 	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6)
/* 1262 */ }
/* 1263 */ #portfolio-filter a.active {
/* 1264 */ 	background: #fff;
/* 1265 */ 	color: #AFAFAF;
/* 1266 */ 	font-weight: bold;
/* 1267 */ 	letter-spacing: -.1em;
/* 1268 */ 	margin: 0 0 0 -9px
/* 1269 */ }
/* 1270 */ #portfolio-filter a.active:hover {
/* 1271 */ 	text-decoration: underline;
/* 1272 */ 	text-shadow: none
/* 1273 */ }
/* 1274 */ .pf-item {
/* 1275 */ 	display: block;
/* 1276 */ 	float: left;
/* 1277 */ 	height: 310px;
/* 1278 */ 	overflow: hidden;
/* 1279 */ 	padding: 0 30px 30px 0;
/* 1280 */ 	position: relative;
/* 1281 */ 	width: 235px;
/* 1282 */ 	z-index: 2
/* 1283 */ }
/* 1284 */ .pf-item p {
/* 1285 */ 	color: #6d6d6d;
/* 1286 */ 	line-height: 1.65em;
/* 1287 */ 	padding: 0
/* 1288 */ }
/* 1289 */ .pf-item:hover p {
/* 1290 */ 	color: #939393
/* 1291 */ }
/* 1292 */ #s-main-cntnt .pf-item h2 {
/* 1293 */ 	margin: 1px 0 15px 0;
/* 1294 */ 	padding: 12px 0 0 0;
/* 1295 */ 	letter-spacing: 0;
/* 1296 */ 	font-size: 16px;
/* 1297 */ 	line-height: 21px;	
/* 1298 */ 	font-family: "Droid Sans", san-serif;
/* 1299 */ 	position: relative;		
/* 1300 */ 	border-top: 13px solid rgba(255,255,255,0.1)

/* style.css */

/* 1301 */ }
/* 1302 */ #s-main-cntnt .pf-item h2 > a { 
/* 1303 */ 	color: rgba(255,255,255,0.23);	
/* 1304 */ 	padding: 0 55px 0 0;
/* 1305 */ 	min-height: 42px;
/* 1306 */ 	margin: 0;
/* 1307 */ 	text-decoration: none;
/* 1308 */ 	display: block;
/* 1309 */ }
/* 1310 */ em.work-type {
/* 1311 */ 	position: absolute;
/* 1312 */ 	right: 0;
/* 1313 */ 	margin:  0;
/* 1314 */ 	padding: 0;
/* 1315 */ 	height: 100%; 
/* 1316 */ }
/* 1317 */ em.work-type > span {
/* 1318 */ 	float: right;
/* 1319 */ 	text-align: center;
/* 1320 */ 	margin: 6px 0 0 13px;
/* 1321 */ 	opacity: 0.2;	
/* 1322 */ 	
/* 1323 */ 	-moz-transition: opacity 0.4s ease-in-out;
/* 1324 */ 	-webkit-transition: opacity 0.4s ease-in-out;
/* 1325 */    	transition: opacity 0.4s ease-in-out;	
/* 1326 */ }
/* 1327 */ em.work-type > span:before {
/* 1328 */ 	background: url(/wp-content/themes/glo-folio-2.0/images/folio-type-icn-sprite-work.png?98ac63) no-repeat;
/* 1329 */ 	content: "";
/* 1330 */ 	display: inline-block;	
/* 1331 */ }
/* 1332 */ #s-main-cntnt .pf-item:hover em.work-type > span {
/* 1333 */ 	opacity: 0.4;
/* 1334 */ }
/* 1335 */ em.work-type > span[data-type="all"] {
/* 1336 */ 	display: none;
/* 1337 */ }
/* 1338 */ em.work-type > span[data-type="web"]:before {
/* 1339 */ 	background-position: -82px -19px;
/* 1340 */ 	width: 20px;
/* 1341 */ 	height: 22px;
/* 1342 */ }
/* 1343 */ em.work-type > span[data-type="touch"]:before {
/* 1344 */ 	background-position: -22px -17px;
/* 1345 */ 	width: 14px;
/* 1346 */ 	height: 23px;
/* 1347 */ }
/* 1348 */ em.work-type > span[data-type="motion"]:before {
/* 1349 */ 	background-position: -206px -21px;
/* 1350 */ 	width: 20px;

/* style.css */

/* 1351 */ 	height: 19px;
/* 1352 */ }
/* 1353 */ em.work-type > span[data-type="photo"]:before {
/* 1354 */ 	background-position: -144px -19px;
/* 1355 */ 	width: 22px;
/* 1356 */ 	height: 23px;
/* 1357 */ }
/* 1358 */ em.work-type > span[data-type="offline"]:before {
/* 1359 */ 	background-position: -260px -19px;
/* 1360 */ 	width: 14px;
/* 1361 */ 	height: 24px;
/* 1362 */ }
/* 1363 */ 
/* 1364 */ 
/* 1365 */ #s-main-cntnt .pf-item:hover h2 a {
/* 1366 */ 	color: #727272
/* 1367 */ }
/* 1368 */ #s-main-cntnt .pf-item h2 a:hover {
/* 1369 */ 	color: #6F9D0B;
/* 1370 */ 	text-decoration: underline
/* 1371 */ }
/* 1372 */ .a-thmb, .a-thmb img {
/* 1373 */ 	display: block;	
/* 1374 */ }
/* 1375 */ .inside #s-intro {
/* 1376 */ 	min-width: 320px;
/* 1377 */ 	width: 25%
/* 1378 */ }
/* 1379 */ .inside #s-main-cntnt {
/* 1380 */ 	margin: 245px 0 0;
/* 1381 */ 	min-height: 440px;
/* 1382 */ 	padding: 0;
/* 1383 */ 	position: relative;
/* 1384 */ 	text-align: left;
/* 1385 */ 	z-index: 1
/* 1386 */ }
/* 1387 */ .folio-home #s-main-cntnt {
/* 1388 */ 	margin: 245px -15px 0 0;
/* 1389 */ }
/* 1390 */ .inside #s-intro h2 {
/* 1391 */ 	color: #ECFF81;
/* 1392 */ 	font-family: Vollkorn, Georgia, serif;
/* 1393 */ 	font-size: 5.75em;
/* 1394 */ 	font-weight: normal;
/* 1395 */ 	letter-spacing: -.09em;
/* 1396 */ 	line-height: .9em;
/* 1397 */ 	margin: 0 0 20px -3px;
/* 1398 */ 	text-shadow: 0 1px 0 #6C9910
/* 1399 */ }
/* 1400 */ .inside #s-intro h2 strong {

/* style.css */

/* 1401 */ 	color: #2c3f03;
/* 1402 */ 	line-height: .3em;
/* 1403 */ 	text-shadow: 0 1px 1px #CDEE5B
/* 1404 */ }
/* 1405 */ .inside #s-intro p {
/* 1406 */ 	-moz-column-count: 2;
/* 1407 */ 	-moz-column-gap: 40px;
/* 1408 */ 	-webkit-column-count: 2;
/* 1409 */ 	-webkit-column-gap: 40px;
/* 1410 */ 	clear: left;
/* 1411 */ 	column-count: 2;
/* 1412 */ 	column-gap: 40px;
/* 1413 */ 	font-size: 1em;
/* 1414 */ 	letter-spacing: -.05em;
/* 1415 */ 	line-height: 1.7em;
/* 1416 */ 	margin: 0;
/* 1417 */ 	padding: 0
/* 1418 */ }
/* 1419 */ .inside #s-intro p a {
/* 1420 */ 	color: #253404
/* 1421 */ }
/* 1422 */ #d-headr {
/* 1423 */ 	padding: 0 325px 27px 0;
/* 1424 */ 	position: relative;
/* 1425 */ }
/* 1426 */ #d-profl-pic {
/* 1427 */ 	margin: -160px 0 0 0;
/* 1428 */ 	padding: 0 0 2.3em;
/* 1429 */ }
/* 1430 */ #d-headr #d-profl-pic {
/* 1431 */ 	position: absolute;
/* 1432 */ 	z-index: 0;
/* 1433 */ 	top: 64px;
/* 1434 */ 	right: 25px;
/* 1435 */ 	margin: 0;
/* 1436 */ 	padding: 0 0 10px;
/* 1437 */ 	overflow: hidden;
/* 1438 */ }
/* 1439 */ #d-headr #d-profl-pic img {
/* 1440 */ 	display: block;
/* 1441 */ 	margin: 0 0 0 -10px;
/* 1442 */ }
/* 1443 */ #d-headr p:last-child {
/* 1444 */ 	padding-right: 120px;
/* 1445 */ }
/* 1446 */ .sp-brdr {
/* 1447 */ 	background: #0775e6;
/* 1448 */ 	display: block;
/* 1449 */ 	float: left;
/* 1450 */ 	height: 18px;

/* style.css */

/* 1451 */ 	width: 80%
/* 1452 */ }
/* 1453 */ #gry.sp-brdr {
/* 1454 */ 	background: #1d1d1d;
/* 1455 */ 	margin: 0 0 0 1%;
/* 1456 */ 	width: 19%
/* 1457 */ }
/* 1458 */ .sp-pullout {
/* 1459 */ 	-moz-border-radius: 14px;
/* 1460 */ 	-webkit-border-radius: 14px;
/* 1461 */ 	background: #0666c9;
/* 1462 */ 	border-radius: 14px;
/* 1463 */ 	color: #98c7f6;
/* 1464 */ 	display: block;
/* 1465 */ 	line-height: 1.5em;
/* 1466 */ 	margin: 0 0 0 -5px;
/* 1467 */ 	padding: 20px
/* 1468 */ }
/* 1469 */ .sp-pullout.jcc {
/* 1470 */ 	background: #558b0f;
/* 1471 */ 	color: #dfff7d
/* 1472 */ }
/* 1473 */ .sp-pullout strong {
/* 1474 */ 	display: block;
/* 1475 */ 	font-family: Vollkorn, Georgia, serif;
/* 1476 */ 	font-size: 1.8em;
/* 1477 */ 	font-weight: normal;
/* 1478 */ 	letter-spacing: -.06em;
/* 1479 */ 	line-height: 1.1em;
/* 1480 */ 	padding: 0 0 .6em;
/* 1481 */ 	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35)
/* 1482 */ }
/* 1483 */ ul.ul-list {
/* 1484 */ 	-moz-border-radius: 9px;
/* 1485 */ 	-webkit-border-radius: 9px;
/* 1486 */ 	background: #0f0f0f;
/* 1487 */ 	border-radius: 9px;
/* 1488 */ 	color: #6d6d6d;
/* 1489 */ 	font-size: .85em;
/* 1490 */ 	margin: 0 0 1em;
/* 1491 */ 	padding: 15px 15px 5px
/* 1492 */ }
/* 1493 */ ul.ul-list li {
/* 1494 */ 	line-height: 1.8em;
/* 1495 */ 	margin: 0 0 1em 20px;
/* 1496 */ 	padding: 0 0 0 20px
/* 1497 */ }
/* 1498 */ .folio-itm #d-full-wdth {
/* 1499 */ 	top: 290px
/* 1500 */ }

/* style.css */

/* 1501 */ .folio-itm #s-main-cntnt {
/* 1502 */ 	margin: 610px 0 0;
/* 1503 */ 	min-height: 250px;
/* 1504 */ 	padding: 0 0 60px;
/* 1505 */ 	position: relative;
/* 1506 */ 	text-align: left;
/* 1507 */ 	z-index: 4
/* 1508 */ }
/* 1509 */ #d-itm-func {
/* 1510 */ 	float: left;
/* 1511 */ 	margin: 232px 0 0 20px
/* 1512 */ }
/* 1513 */ #sp-nxt-itm, #sp-nxt-itm a, #sp-prv-itm, #sp-prv-itm a {
/* 1514 */ 	clear: left;
/* 1515 */ 	display: block
/* 1516 */ }
/* 1517 */ #sp-nxt-itm a, #sp-prv-itm a {
/* 1518 */ 	background: url(/wp-content/themes/glo-folio-2.0/images/folio-itm-arrws.png?98ac63) 0 0 no-repeat;
/* 1519 */ 	display: block;
/* 1520 */ 	height: 33px;
/* 1521 */ 	margin: 0 0 13px;
/* 1522 */ 	position: relative;
/* 1523 */ 	text-indent: -3000em;
/* 1524 */ 	width: 25px;
/* 1525 */ 	z-index: 9
/* 1526 */ }
/* 1527 */ #sp-prv-itm a {
/* 1528 */ 	background-position: 0 -33px
/* 1529 */ }
/* 1530 */ #sp-nxt-itm a:hover {
/* 1531 */ 	background-position: -25px 0
/* 1532 */ }
/* 1533 */ #sp-prv-itm a:hover {
/* 1534 */ 	background-position: -25px -33px
/* 1535 */ }
/* 1536 */ #a-bak-2-folio {
/* 1537 */ 	background: url(/wp-content/themes/glo-folio-2.0/images/bck-2-grid.png?98ac63) 0 0 no-repeat;
/* 1538 */ 	display: block;
/* 1539 */ 	height: 26px;
/* 1540 */ 	margin: 13px 0 0;
/* 1541 */ 	position: relative;
/* 1542 */ 	text-indent: -3000em;
/* 1543 */ 	width: 26px;
/* 1544 */ 	z-index: 9
/* 1545 */ }
/* 1546 */ #a-bak-2-folio:hover {
/* 1547 */ 	background-position: -26px 0
/* 1548 */ }
/* 1549 */ #s-main-cntnt #h2-pf-item-titl {
/* 1550 */ 	font-size: 3.3em;

/* style.css */

/* 1551 */ 	letter-spacing: -.08em;
/* 1552 */ 	margin: 0 0 .3em
/* 1553 */ }
/* 1554 */ #portfolio-list {
/* 1555 */ 	margin: 0 0 0 20px
/* 1556 */ }
/* 1557 */ .d-pf-itm-cntnt li {
/* 1558 */ 	-moz-border-radius: 9px;
/* 1559 */ 	-webkit-border-radius: 9px;
/* 1560 */ 	background: #131313;
/* 1561 */ 	border-radius: 9px;
/* 1562 */ 	color: #3f3f3f;
/* 1563 */ 	display: inline-block;
/* 1564 */ 	font-size: 1em;
/* 1565 */ 	letter-spacing: -.04em;
/* 1566 */ 	margin: 0 5px 10px 0;
/* 1567 */ 	padding: 10px 15px
/* 1568 */ }
/* 1569 */ .d-pf-itm-cntnt li:hover {
/* 1570 */ 	background: #0e0e0e;
/* 1571 */ 	color: #565656
/* 1572 */ }
/* 1573 */ .d-pf-itm-cntnt .d-insde-col {
/* 1574 */ 	padding: 0 60px 0 0
/* 1575 */ }
/* 1576 */ .d-insde-col img {
/* 1577 */ 	max-width: 100%
/* 1578 */ }
/* 1579 */ #d-rpeatr {
/* 1580 */ 	background: url(/wp-content/themes/glo-folio-2.0/images/hills-dark.png?98ac63) repeat-x -30% 0;
/* 1581 */ 	height: 207px;
/* 1582 */ 	margin: 95px 0 0
/* 1583 */ }
/* 1584 */ #d-mn-img {
/* 1585 */ 	float: left;
/* 1586 */ 	width: 620px
/* 1587 */ }
/* 1588 */ #ul-pf-itm-slidr {
/* 1589 */ 	background: #000 url(/wp-content/themes/glo-folio-2.0/images/preload.gif?98ac63) center center no-repeat;
/* 1590 */ 	height: 349px;
/* 1591 */ 	margin: 0;
/* 1592 */ 	overflow: hidden;
/* 1593 */ 	position: relative;
/* 1594 */ 	width: 620px
/* 1595 */ }
/* 1596 */ #onw_contact_form input, #onw_contact_form textarea {
/* 1597 */ 	background: #191919;
/* 1598 */ 	border: none;
/* 1599 */ 	color: #545454;
/* 1600 */ 	font-family: Vollkorn, Georgia, serif;

/* style.css */

/* 1601 */ 	font-size: 1.5em;
/* 1602 */ 	font-weight: normal;
/* 1603 */ 	letter-spacing: -.06em;
/* 1604 */ 	padding: 15px
/* 1605 */ }
/* 1606 */ #onw_contact_form input:hover, #onw_contact_form textarea:hover {
/* 1607 */ 	background: #1e1e1e
/* 1608 */ }
/* 1609 */ #onw_contact_form input:focus, #onw_contact_form textarea:focus {
/* 1610 */ 	background: #fff;
/* 1611 */ 	color: #818181
/* 1612 */ }
/* 1613 */ #bot-check img {
/* 1614 */ 	margin: 0 15px 0 0
/* 1615 */ }
/* 1616 */ .ddsg-pagenav {
/* 1617 */ 	position: relative;
/* 1618 */ 	z-index: 9
/* 1619 */ }
/* 1620 */ .d-blogpost {
/* 1621 */ 	padding: 0;
/* 1622 */ 	margin: 0 70px 30px 0;
/* 1623 */ 	border-bottom: 10px solid rgba(255,255,255,0.06);
/* 1624 */ }
/* 1625 */ article, aside, figure, footer, header, hgroup, nav, section, .clearfix, #onw_contact_form label {
/* 1626 */ 	display: block
/* 1627 */ }
/* 1628 */ input[type="radio"], .ie6 input {
/* 1629 */ 	vertical-align: text-bottom
/* 1630 */ }
/* 1631 */ .img-categ-thumb {
/* 1632 */ 	float: left;
/* 1633 */ 	margin: 10px 25px 10px 0;
/* 1634 */ }
/* 1635 */ #s-main-cntnt article {
/* 1636 */ 	padding: 0 0 15px 0;
/* 1637 */ 	margin: 0 8% 15px 0;
/* 1638 */ 	border-bottom: 10px dotted #141414;
/* 1639 */ 	width: 42%;
/* 1640 */ 	display: inline-block;
/* 1641 */ 	vertical-align: top
/* 1642 */ }
/* 1643 */ #s-main-cntnt article:nth-of-type(even) {
/* 1644 */ 	margin: 0 0 15px 0;
/* 1645 */ }
/* 1646 */ .entry-title {
/* 1647 */ 	font-size: 14px;
/* 1648 */ 	line-height: 25px;
/* 1649 */ }
/* 1650 */ .entry-meta {

/* style.css */

/* 1651 */ 	clear: both;
/* 1652 */ }
/* 1653 */ 
/* 1654 */ .folio-itm .entry-meta {
/* 1655 */ 	text-align: left;
/* 1656 */ 	font-size: 13px;
/* 1657 */ 	margin: 10px 0;
/* 1658 */ }
/* 1659 */ 
/* 1660 */ /* -----------------------------
/* 1661 *| 
/* 1662 *| 
/* 1663 *| 
/* 1664 *| 		style up twitter and dribbble feeds on new homepage ---------------------------*/
/* 1665 */ 
/* 1666 */ 
/* 1667 */ 
/* 1668 */ .widget_twitter h3 {
/* 1669 */ 	display: none;
/* 1670 */ }
/* 1671 */ .widget_twitter ul {
/* 1672 */ 	list-style: none;
/* 1673 */ 	padding: 0;
/* 1674 */ 	margin: 0;
/* 1675 */ }
/* 1676 */ .widget_twitter ul li {
/* 1677 */ 	margin: 0 0 20px;
/* 1678 */ }
/* 1679 */ .widget_twitter .entry-content {
/* 1680 */ 	display: block;
/* 1681 */ 	padding: 12px 15px 14px 60px;
/* 1682 */ 	background: rgba(255,255,255,0.05);
/* 1683 */ 	box-shadow: inset 0 1px 0 rgba(255,255,255,0.03);
/* 1684 */ 	position: relative;
/* 1685 */ }
/* 1686 */ .widget_twitter .entry-content:before {
/* 1687 */ 	content: "";
/* 1688 */ 	position: absolute;
/* 1689 */ 	top: 14px;
/* 1690 */ 	left: 15px;
/* 1691 */ 	opacity: 0.1;
/* 1692 */ 	height: 18px;
/* 1693 */ 	width: 28px;
/* 1694 */ 	margin: 0;
/* 1695 */ 	padding: 0;
/* 1696 */ 	background: url(/wp-content/themes/glo-folio-2.0/images/social-icns.png?98ac63) 0 0 no-repeat;
/* 1697 */ 	background-position: -23px 0;
/* 1698 */ }
/* 1699 */ .widget_twitter .entry-content:after {
/* 1700 */ 	content: "";

/* style.css */

/* 1701 */ 	position: absolute;
/* 1702 */ 	bottom: -24px;
/* 1703 */ 	left: 20px;
/* 1704 */ 	border: 12px outset transparent;
/* 1705 */ 	border-top: 12px solid rgba(255,255,255,0.05);
/* 1706 */ }
/* 1707 */ .widget_twitter .entry-meta {
/* 1708 */ 	display: block;
/* 1709 */ 	text-align: right;
/* 1710 */ 	font-size: 11px;
/* 1711 */ 	margin: 10px 2px 0 60px;
/* 1712 */ }
/* 1713 */ .widget_twitter .entry-meta a {
/* 1714 */ 	text-decoration: none;
/* 1715 */ }
/* 1716 */ .intent-meta {
/* 1717 */ 	display: none;
/* 1718 */ }
/* 1719 */ .dribbbles {
/* 1720 */ 	margin: 0;
/* 1721 */ 	list-style: none;
/* 1722 */ }
/* 1723 */ .dribbbles li {
/* 1724 */ 	margin: 0 0 15px;
/* 1725 */ 	width: 100%;
/* 1726 */ 	max-width: 280px;
/* 1727 */ 	-webkit-box-sizing: border-box;
/* 1728 */ 	-moz-box-sizing: border-box;
/* 1729 */ 	box-sizing: border-box;
/* 1730 */ }
/* 1731 */ .dribbble-img {
/* 1732 */ 	position: relative;
/* 1733 */ 	overflow: hidden;
/* 1734 */ }
/* 1735 */ .dribbble-img:hover .dribbble-over {
/* 1736 */ 	display: block;
/* 1737 */ 	right: 0;
/* 1738 */ 	-moz-transition: all .3s ease-in-out;
/* 1739 */ 	-webkit-transition: all .3s linear;
/* 1740 */ 	transition: all .3s linear;
/* 1741 */ }
/* 1742 */ .dribbble-over {
/* 1743 */ 	background: #181818;
/* 1744 */ 	position: absolute;
/* 1745 */ 	padding: 10px 15px 20px;
/* 1746 */ 	width: 125px;
/* 1747 */ 	bottom: 0;
/* 1748 */ 	right: -160px;
/* 1749 */ 	text-decoration: none;
/* 1750 */ }

/* style.css */

/* 1751 */ .dribbble-over * {
/* 1752 */ 	display: block;
/* 1753 */ 	font-style: normal;
/* 1754 */ 	font-size: 11px;
/* 1755 */ 	line-height: 15px;
/* 1756 */ 	color: #ea4c89;
/* 1757 */ }
/* 1758 */ .dribbble-img .dribbble-over:hover * {
/* 1759 */ 	color: #6F9D0B;
/* 1760 */ }
/* 1761 */ .dribbble-over em {
/* 1762 */ 	color: #444444;
/* 1763 */ }
/* 1764 */ .dribbble-img .dribbble-over:hover em {
/* 1765 */ 	color: #686868;
/* 1766 */ }
/* 1767 */ .dribbble-link {
/* 1768 */ 	display: block;
/* 1769 */ 	position: relative;
/* 1770 */ 	padding: 10px;
/* 1771 */ 	margin: 0;
/* 1772 */ 	background: rgba(255,255,255,0.044);
/* 1773 */ 	box-shadow: inset 0 1px 0 rgba(255,255,255,0.03);
/* 1774 */ }
/* 1775 */ .dribbble-link:before {
/* 1776 */ 	content: "";
/* 1777 */ 	position: absolute;
/* 1778 */ 	z-index: 2;
/* 1779 */ 	top: 0;
/* 1780 */ 	left: 0;
/* 1781 */ 	height: 50px;
/* 1782 */ 	width: 55px;
/* 1783 */ 	margin: 0 8px 0 0;
/* 1784 */ 	padding: 0;
/* 1785 */ 	background: #181818 url(/wp-content/themes/glo-folio-2.0/images/dribbble-ball-mark.png?98ac63) 12px 10px no-repeat;
/* 1786 */ }
/* 1787 */ .dribbble-link:after {
/* 1788 */ 	content: "";
/* 1789 */ 	position: absolute;
/* 1790 */ 	z-index: 0;
/* 1791 */ 	top: 0; left: 0;
/* 1792 */ 	opacity: 1;
/* 1793 */ 	width: 100%; height: 100%;
/* 1794 */ 	background: url(/wp-content/themes/glo-folio-2.0/images/dribbbl-overlay.gif?98ac63);
/* 1795 */ }
/* 1796 */ .dribbble-img:hover img {
/* 1797 */ 	opacity: 1;
/* 1798 */ 	-webkit-filter: grayscale(0);
/* 1799 */ 	filter: grayscale(0);
/* 1800 */ }

/* style.css */

/* 1801 */ 
/* 1802 */ .dribbble-link img {
/* 1803 */ 	display: block;
/* 1804 */ 	width: 100%;
/* 1805 */ 	position: relative;
/* 1806 */ 	opacity: 0.4;
/* 1807 */ 	-moz-transition: all .3s ease-in-out;
/* 1808 */ 	-webkit-transition: all .3s linear;
/* 1809 */ 	transition: all .3s linear;
/* 1810 */ 	
/* 1811 */ 	-webkit-filter: grayscale(1.0);
/* 1812 */ 	filter: grayscale(1.0);
/* 1813 */ }
/* 1814 */ 
/* 1815 */ .post-particulars {
/* 1816 */ 	margin: 5px 35px 30px 0;	
/* 1817 */ }
/* 1818 */ .post-particulars .entry-meta {
/* 1819 */ 	float: left;
/* 1820 */ 	margin: 0;
/* 1821 */ }
/* 1822 */ .post-particulars .tag-links {
/* 1823 */ 	display: block;	
/* 1824 */ 	margin: 0 0 0 38%;
/* 1825 */ }
/* 1826 */ 
/* 1827 */ 
/* 1828 */ 
/* 1829 */ 
/* 1830 */ ::-moz-selection, ::selection {
/* 1831 */  background:#FF5E99;
/* 1832 */  color:#fff;
/* 1833 */  text-shadow:none
/* 1834 */ }
/* 1835 */ #d-rght-col-wrppr, #d-thmb-slidrs, #d-footr .d-cntnr {
/* 1836 */ 	position: relative
/* 1837 */ }
/* 1838 */ #a-prev, #a-nxt, #a-prev2, .js_active #ul-mn-sldr li, .js_active #ul-mn-sldr .featured, #sp-sklls-chrt p, #sp-sklls-chrt h4, .js_active #ul-pf-itm-slidr li, .js_active #ul-pf-itm-slidr .featured {
/* 1839 */ 	display: none
/* 1840 */ }
/* 1841 */ #ul-mn-sldr li, #ul-mn-sldr .featured, #ul-pf-itm-slidr li, #ul-pf-itm-slidr .featured {
/* 1842 */ 	display: block;
/* 1843 */ 	height: 100%;
/* 1844 */ 	left: 0;
/* 1845 */ 	position: absolute;
/* 1846 */ 	top: 0;
/* 1847 */ 	width: 100%;
/* 1848 */ 	z-index: 1
/* 1849 */ }
/* 1850 */ 

/* style.css */

/* 1851 */ #ul-mn-sldr img, #ul-mn-sldr a img, #ul-mn-sldr a, #ul-pf-itm-slidr img, #ul-pf-itm-slidr a img, #ul-pf-itm-slidr a {
/* 1852 */ 	border: none;
/* 1853 */ 	text-decoration: none
/* 1854 */ }
/* 1855 */ #s-srch:hover input, .inside #s-intro p a:hover {
/* 1856 */ 	color: #fff
/* 1857 */ }
/* 1858 */ #n-meta ul, .d-pf-itm-cntnt ul {
/* 1859 */ 	margin: 0;
/* 1860 */ 	padding: 0
/* 1861 */ }
/* 1862 */ #ul-insp-lnks li:hover, #ul-insp-lnks li:hover a {
/* 1863 */ 	color: #263507
/* 1864 */ }
/* 1865 */  @media print {
/* 1866 */ * {
/* 1867 */ 	background: transparent!important;
/* 1868 */ 	color: #444!important;
/* 1869 */ 	text-shadow: none
/* 1870 */ }
/* 1871 */ a, a:visited {
/* 1872 */ 	color: #444!important;
/* 1873 */ 	text-decoration: underline
/* 1874 */ }
/* 1875 */ a:after {
/* 1876 */ 	content: " (" attr(href) ")"
/* 1877 */ }
/* 1878 */ abbr:after {
/* 1879 */ 	content: " (" attr(title) ")"
/* 1880 */ }
/* 1881 */ .ir a:after {
/* 1882 */ 	content: ""
/* 1883 */ }
/* 1884 */ pre, blockquote {
/* 1885 */ 	border: 1px solid #999;
/* 1886 */ 	page-break-inside: avoid
/* 1887 */ }
/* 1888 */ img {
/* 1889 */ 	page-break-inside: avoid
/* 1890 */ }
/* 1891 */  @page {
/* 1892 */  margin:.5cm
/* 1893 */ }
/* 1894 */ p, h2, h3 {
/* 1895 */ 	orphans: 3;
/* 1896 */ 	widows: 3
/* 1897 */ }
/* 1898 */ h2, h3 {
/* 1899 */ 	page-break-after: avoid
/* 1900 */ }

/* style.css */

/* 1901 */ }
/* 1902 */  @media screen and max-device-width 480px {
/* 1903 */  html {
/* 1904 */  -ms-text-size-adjust:none;
/* 1905 */  -webkit-text-size-adjust:none
/* 1906 */ }
/* 1907 */ }
