
#rght-col {
	background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F27BAC11,endColorstr=#F27BAC11)"; /* IE8 */	
}
#s-intro {
	background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F47BAC11,endColorstr=#F47BAC11)"; /* IE8 */
	width: 390px;
}
#mn-main-nv {		
	margin: 0;
	padding: 10px 0 10px 10px;		
}